html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body,
button,
input {
  font-family: 'Noto Sans KR', sans-serif;
}

button,
input {
  border: 0;

  &:focus {
    outline: none;
  }
}

.Toastify__toast {
  font-family: 'Noto Sans KR', sans-serif;

  &-body {
    padding: 0 0.5rem;
  }
}

.ReactModal__Content {
  @media (max-width: 500px) {
    width: 280px;
  }
}
